<section id="carousel" class="carousel slide" data-ride="carousel">
    <article class="carousel-inner">
        <section class="carousel-item">
            <img src="assets/images/1.jpg" class="d-block test" alt="1">
        </section>
        <section class="carousel-item active">
            <img src="assets/images/2.jpg" class="d-block" alt="2">
        </section>
        <section class="carousel-item">
            <img src="assets/images/3.jpg" class="d-block" alt="3">
        </section>
        <section class="carousel-item">
            <img src="assets/images/4.jpg" class="d-block" alt="4">
        </section>
        <section class="carousel-item">
            <img src="assets/images/billgates.jpeg" class="d-block" alt="billgates">
        </section>
        <section class="carousel-item">
            <img src="assets/images/einstein.png" class="d-block" alt="einstein">
        </section>
        <section class="carousel-item">
            <img src="assets/images/frida.jpg" class="d-block" alt="frida">
        </section>
        <section class="carousel-item">
            <img src="assets/images/hitler.jpg" class="d-block" alt="hitler">
        </section>
    </article>
    <a href="#carousel" class="carousel-control-prev" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a href="#carousel" class="carousel-control-next" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</section>
