<section class="container my-4 position-relative">
    <article class="row">
        <section class="md-o-12">
            <h2 class="mt-4 shadow p-3 mb-5 bg-white rounded">History Characters</h2>
            <article>
                <img class="d-block mx-auto img-fluid history-img" src="assets/icons/history.png" alt="history image" srcset="">
                <small class="font-weight-light">A historical character, is a person from the past who has marked history and who, therefore, has transcended in time. This definition includes both figures who have brought great benefits to humanity and those who have caused great harm. They earn the name of "characters" because the story, although it describes real and concrete events, is also a form of narration, just like the story and the novel, only that they tell fictional stories. Some examples of historical characters of great relevance are: Cleopatra, Julius Caesar, Pericles, Constantine, Joan of Arc, Galileo Galilei, Copernicus, Isabel the Catholic, Christopher Columbus, Hernán Cortés, Leonardo da Vinci, Luther, Napoleon Bonaparte, Simón Bolívar, José Stalin, Adolf Hitler and JF Kennedy.</small>
            </article>
        </section>
    </article>
</section>